save-exact=true
# this will keep the package's version fixed
# you can install a bot responsible to check 
# everytime an package update, so the bot will 
# update and run the tests and then make
# a pull request